@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Two cooking way<br />
   Imagination Island, London LO1 1AW<br />
    <abbr title="Phone">P:</abbr>
    01234 567 987
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Ordering:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>